<div class="scoreboard">
  <span class="score score__first-player" data-testid="score-first-player">
    {{ score[0] }}
  </span>

  <div class="battle-controls">
    <div class="battle-controls__select">
      <mat-form-field subscriptSizing="dynamic" data-testid="resource-select">
        <mat-label>Who's fighting?</mat-label>
        <mat-select [(ngModel)]="resourceType">
          <mat-option [value]="ResourceType.PEOPLE">People</mat-option>
          <mat-option [value]="ResourceType.STARSHIPS">Starships</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="accent"
      class="battle-controls__button"
      data-testid="button-start-battle"
      (click)="initBattle()"
    >
      ⚔️
    </button>
  </div>

  <span class="score score__second-player" data-testid="score-second-player">
    {{ score[1] }}
  </span>
</div>

<main class="card-container">
  <ng-container *ngFor="let opponent of battle.opponents; let i = index">
    <app-person-opponent-card
      *ngIf="isPersonDetails(opponent)"
      class="card"
      [opponent]="opponent"
      [isWinner]="opponent === battle.winner"
      data-testid="opponent-details"
    />
    <app-starship-opponent-card
      *ngIf="isStarshipDetails(opponent)"
      class="card"
      [opponent]="opponent"
      [isWinner]="opponent === battle.winner"
      data-testid="opponent-details"
    />
  </ng-container>
</main>
